.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

.whiteSpaceNo {
    white-space: nowrap;
}

.none {
    display: none;
}

.box {
    border-radius: 15px;
    outline: 2px solid black;
    outline-offset: 0px;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
}
.shadowText {
    -webkit-text-stroke: 1px black;
}
.bold {
    font-weight: bold;
}
