#aside {
    height: 100vh;
    width: 10%;
    .aside__wrap {
        height: 100%;
        padding: 60px 15px 0 15px;
        background-color: var(--bg-pink);

        .logo {
            .logo__text {
                text-align: center;
                font-size: 1.5rem;
                color: var(--font-pink1);

                em {
                    color: var(--font-puple1);
                }
            }

            .logo__img {
                margin: 0 auto;
            }
        }
        .nav {
            ul {
                background: var(--box-pink);
                li {
                    a {
                        text-align: center;
                        width: 100%;
                        display: inline-block;
                        padding: 5% 5%;
                        font-size: 1.5rem;
                        font-family: nanumSquareNeo;
                        color: var(--font-puple1);
                        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,
                            -1px 1px 0 #000, 1px 1px 0 #000, -2px -2px 0 #000,
                            2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
                    }
                }
            }
        }
    }
}
